:root {
  --principal_color: #5b5b5b;
}

* {
  box-sizing: border-box;
  font-family: "Fruktur", cursive;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}

.img {
  padding-top: 20px;
  margin-left: 150px;
}
.img img {
  height: 150px;
  width: 280px;
}

.main_menu {
  background-color: var(--principal_color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
}

a {
  padding: 10px 10px 10px 10px;
  margin-left: 8px;
  margin-right: 8px;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.main_menu a:hover {
  background-color: black;
  align-items: center;
  padding: 10px 10px 10px 10px;
}

/* SEPARADOR
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.contenedorSobreNosotros {
  margin-top: 6rem;
  display: flex;
}

.imgSobreNosotros img {
  width: 45vw;
  margin-top: 0.1rem;
}

.imgSobreNosotros {
  margin-right: 1rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}

.textSobreNosotros {
  height: auto;
  font-size: 23px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h2SobreNosotros {
  height: auto;
  color: var(--principal_color);
  font-size: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  position: absolute;
  margin: 0;

  width: 400px;
  font-size: 3rem;
  top: 250px;
  left: 35%;
}

p {
  margin-top: 0;
}

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

p {
  margin-bottom: 2.5rem;
}
